@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Six+Caps&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

@theme{
  --font-body: "Inter";
  --font-tall: "Six Caps"
}

body{
  @apply font-body;
}

:root {
  view-transition-name: category-transition;
}

@view-transition {
  navigation: auto;
}


/* Transition effect configuration */
@keyframes category-transition {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}