/* Title transitions */
@keyframes slide-from-right {
  from {
    transform: translateX(100px);
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100px);
  }
}

::view-transition-old(item-title-*) {
  animation: 0.7s cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
}

::view-transition-new(item-title-*) {
  animation: 0.7s cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

/* Make the background transition smoother */
::view-transition-old(item-background-*),
::view-transition-new(item-background-*) {
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* When navigating backward */
:root[data-direction="backward"] ::view-transition-old(item-title-*) {
  animation: 0.7s cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

:root[data-direction="backward"] ::view-transition-new(item-title-*) {
  animation: 0.7s cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
}